<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @operation_type.name %>
</p>


<%= link_to 'Edit', edit_operation_type_path(@operation_type) %> |
<%= link_to 'Back', operation_types_path %>
